.overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    &.show {
        display: block;
    }
}
.modal {
    display: none;
    margin: 0 auto;
    margin-top: 50vh;
    transform: translateY(-50%);
    background-color: #fff;
    border-radius: 3px;
    text-align: center;

    &.show {
        display: block;
    }
}
.call-modal {
    width: 100%;
    max-width: 350px;
    padding: 25px 65px 75px 65px;
    
    .main-button {
        margin-top: 45px;
    }
}
.thank-you-modal {
    width: 100%;
    max-width: 540px;
    padding: 30px 65px;
    color: $lightgrey;

    h2 {
        text-transform: uppercase;
        font-size: 20px;
        line-height: 36px;
    }
}

@media(max-width: 767px) {
    .call-modal {
        padding: 25px 35px 75px 35px;
    }
    .thank-you-modal {
        padding: 30px 35px;
    }
}