@import "mixins";
@import "normalize";
@import "layout";
@import "variables";
@import "carousels";
@import "modals";

@import "sections/header";
@import "sections/about";
@import "sections/services";
@import "sections/projects";
@import "sections/team";
@import "sections/happy-clients";
@import "sections/logos";
@import "sections/prices";
@import "sections/premium";
@import "sections/facts";
@import "sections/share";
@import "sections/contact-us";
@import "sections/footer";


html {
  scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
}
section {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 95px;
}
.main-button {
    padding: 20px 55px;
    border: none;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    background-color: $brown;
    text-transform: uppercase;
    border-radius: 27px;
    cursor: pointer;
    outline: none;
    transition: .4s;
    &:hover {
        background-color: $button-black;
    }
}
.main-text {
    font-size: 14px;
    line-height: 25px;
}
.section-title {
    font-size: 32px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.section-subtitle {
    font-size: 16px;
    text-transform: uppercase;
    color: $lightgrey;
    font-weight: bold;
    margin-bottom: 50px;
}
.title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}
.media-icons-bar {
    display: inline-flex;
    align-items: center;
    .media-icon-wrapper {
        height: 35px;
        width: 35px;
        background-color: $lightgrey;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3px;
        transition: .4s;
        &:hover {
            background-color: $brown;
        }
    }
}
.paginator {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $lightgrey;
    color: $grey;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 25px;
    width: 100%;
    margin-top: 30px;
    outline: none;
}
.anchor {
    display: block;
    position: relative;
    top: -140px;
    visibility: hidden;
}